@font-face {
    font-family: EditorialNewRegular;
    src: url("https://cdn.glitch.global/29a07b6b-d215-4a70-99c1-293cf0a4775a/PPEditorialNew-Regular.woff?v=1700458716016") format("opentype");
}

@font-face {
    font-family: EditorialNewUltraLight;
    src: url("https://cdn.glitch.global/29a07b6b-d215-4a70-99c1-293cf0a4775a/PPEditorialNew-Thin.woff?v=1700458716166") format("opentype");
}

body {
  background-color: #1B1B1B;
  margin: 40px;
  color: #ffffff;
  
  font-family: EditorialNewUltraLight, serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3;
/*   letter-spacing: -0.01em */
}

a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  color: #ffffff;
  /*   border-bottom: 2px solid #ffffff;
  padding-bottom: -4px; */
  cursor: none;
  transition: color 0.3s;
}

header {
  max-width: 850px;
  position: fixed;
  top: 40px;
  left: 40px;
}

header p {
  margin: 0px;
  max-width: 850px;
  font-family: EditorialNewUltraLight, serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.4;
  margin-right: 40px;
}

header p span {
  display: inline;
  color: #9eff02;
  margin: 0;
}

#secondary {
  color: #868686;
}


footer {
  position: fixed;
  bottom:40px;
  left:40px;
}

footer a {
  margin-right:12px
}

a:hover {
  color: #A9A9A9;
  /* border-bottom: 2px solid #1B1B1B */
}


/* BREAKPOINT */
@media (max-width:500px) {

  
  body {
    font-size: 28px;
  }
  
  header {
  top: 30px;
  left: 30px
}

  
  header p {
    font-size: 28px;
  }
    
header p span {
    font-size: 28px;
  }
  
  #secondary {
    font-size: 28px;
  }
  
  footer {
  bottom:30px;
  left:30px;
}
  
/*   a {
     border-bottom: 1px solid #ffffff;
  } */
  
  
}

/* BREAKPOINT */
@media (min-width:500px) {
  html {
  cursor:none
}


.trail { /* className for the trail elements */
    position: absolute;
    height:45px; width: 45px;
    border-radius: 100%;
    background: #9EFF02;
	z-index: 10
  }
}


/* WORK PAGE STYLES */

.workpage {
	background-color: #fff;
}

.back {
	color: #1B1B1B;
}

.images {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px;
    padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-end;
  justify-content: center;
}

.image {
  width: 500px;
	height: 500px;
  margin: 10px;
  position: relative;
}

.image img {
	width: 500px;
	height: 500px;
transition: filter 0.3;
}

.image:hover img {
  filter: grayscale(100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 2;
}


.image:hover .overlay {
  opacity: 1;
}

h2 {
	color: #fff;
  position: absolute;
  left: 30px;
  top: 30px;
	margin: 0;
  font-size: 24px;
  line-height: 1.2;
}

h3 {
	color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 30px;
  top: 60px;
	margin: 0;
  font-size: 24px;
  line-height: 1.2;
}

header {
	z-index: 3
}
		



/* BREAKPOINT */
@media (min-width:1600px) {
	.image {
		width: 700px;
		height: 700px;
	}
	.image img {
		width: 700px;
		height: 700px;
	}
	.overlay {
		width: 700px;
		height: 700px;
	}
	}





